<div id="container">
	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end %>
	<%= form_for @exercise do |exercise_form| %>
		<div class="value_field">
			<h1><%= exercise_form.text_field :name, { :placeholder => "New Exercise" } %></h1>
		</div>
		<section>
			<p>Weight each side</p>
			<div class="value_field">
				<%= exercise_form.number_field :weight_each_side, :class => "value" %>
			</div>
		</section>
		<div id="more_options">
			<section>
				<p>Bar weight</p>
				<div class="value_field">
					<%= exercise_form.number_field :bar_weight, :class => "value" %>
				</div>
			</section>
			<section>
				<p>Units</p>
				<div class="value_field">
					<%= exercise_form.select(:weight_units, options_for_select(["lbs", "kg"], @exercise['weight_units'])) %>
				</div>
			</section>
		</div>
		<section>
			<p>Total weight</p>
			<div class="value_field">
				<%= exercise_form.number_field :total_weight, :class => "value" %>
			</div>
		</section>
		<section>
			<p>Reps</p>
			<div class="value_field">
				<%= exercise_form.number_field :reps, :class => "value" %>
			</div>
		</section>
		<%= exercise_form.submit "Save" %>
	<% end %>
	<%= link_to "Cancel", exercises_path %>
</div>